* {
	font-family: "Poppins", sans-serif;
	/* border: 1px solid white; */
}

body {
margin-left: 15vw;
margin-right: 15vw;
}

h1 {
	margin-top: 10vw;
	margin-bottom: 5vw;
	margin-left: 30vw;
}

#pesanles {
	margin-bottom: 3vw;
}

#pendidikan {
	margin-bottom: 3vw;
}

#detil-topik {
	margin-bottom: 3vw;
	width: 350px;
}

#informasi {
	margin-bottom: 10vw;
	width: 350px;
}

button{
	margin-left: 2vw;
}
.tombol{
	margin-left: 35vw;
	margin-bottom: 10vw;
}

.bdr {
	border: 1px;
	margin-bottom: 3vw;
}

.bdr1 {
	border: 11px;
	margin-bottom: 3vw;
}
.bdr2 {
	border: 11px;
	margin-bottom: 3vw;
}
.bdr3 {
	border: 11px;
	margin-bottom: 3vw;
}