* {
	/* border: 1px solid black; */
}

#zIndexHigh {
	z-index: 99;
}

nav {
	background-image: linear-gradient(to bottom, rgba(4, 255, 0, 0.363) 0%, rgba(0, 0, 0, 0.387) 100%);
}

img[alt="Logo"] {
	border-radius: 20px;
	object-fit: contain;
	background-position: center;
	overflow: hidden;
}

#collapse-container {
	width: 95%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.judul {
	font-weight: 900;
}

hr {
	width: 95%;
}

.carousel-control {
	color: black;
	position: absolute;
	margin-top: 100px;
	z-index: 100;
	width: 40px;
	height: 50px;
}
