body{
    background-color: rgba(4, 255, 0, 0.363);
}
.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(4, 255, 0, 0.363);
    border-radius: 10px;
    box-shadow: rgb(38,57,77) 0px 20px 30px -10px;
}

.container a{
    margin: 10px 5px 10px -5px;
}


